.chess-board {
    margin: auto;
    width: 630px;
    height: 720px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 40px;
    grid-gap: 0;
}

.top-border-numbers,
.bottom-border-numbers {
    display: flex;
    background-color: chartreuse;
}

.top-border-numbers>div,
.bottom-border-numbers>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 640px;
}

.field {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}

.field:nth-child(16n+2), .field:nth-child(16n+4) {
    background-color: rgb(21, 161, 255);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:5%;
    background-color: lightgreen;
}